.footer {
  height: auto;
  min-width: 200px;
  background-color: #000;
  /*  margin-left: -15px;
  margin-right: -14px; */
  padding: 2%;
}

.inputForm {
  border-radius: 5px;
}

.labelForm {
  padding-left: 30px;
  color: #fff;
}

.rowTextArea {
  height: 150px;
}

.buttonOrcamento,
.btn-secondary:not(:disabled):not(.disabled).active {
  width: 100%;
  min-width: 250px;
  height: 120px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: rgb(54, 128, 113);
  border-color: rgb(78, 163, 146);
  color: #000000;
}

.buttonOrcamento:hover {
  background-color: rgb(79, 164, 147);
  border-color: rgb(78, 163, 146);
}

.imgContato img {
  margin: 5px;
  margin-left: 15px;
}

.whatz {
  background-color: #88b185;
  border-radius: 5px;
  padding: 7px;
}

.face {
  background-color: #2a509e;
  border-radius: 5px;
  padding: 7px;
}

.insta {
  background-color: #8a3e6d;
  border-radius: 5px;
  padding: 7px;
}

.gmail {
  background-color: #a92424;
  border-radius: 5px;
  padding: 7px;
}
a:hover {
  color: #7a6141;
  text-decoration: none;
}

a {
  color: #737373;
}

h5 {
  color: #000000;
}

@media screen and (min-width: 601px) {
  .buttonOrcamento {
    font-size: 200%;
  }
  .certificadoSSL {
    text-align: right;
  }
}
@media screen and (max-width: 600px) {
  .buttonOrcamento {
    font-size: 150%;
  }
  .certificadoSSL img {
    height: 50px;
  }
}

.certificadoSSL {
  border-top: 1px solid #333;
  text-align: center;
  font-size: 9pt;
  background-color: #000;
  color: #fff;
}

.certificadoSSL a {
  color: #fff;
}
