@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Abel');

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h2,
h3,
h4 {
  font-weight: 100;
}

h1 {
  font-weight: 100;
  font-size: 4em;
}

body {
  background: #f1f1f1;
  background: #141414;
  font-family: 'Abel', sans-serif;
  color: #d3d3d3;

  /*font-family: 'Josefin Slab', serif;*/
}

a {
  color: #000000;
  color: #818181;
  font-weight: bold;
}

a:hover {
  color: #997a8c;
  font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  /*margin: 0.2em 0;*/
  background: #ccc;
  color: #000;
  /* padding: 0.2em 0; */
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Temperory workaround for availity-reactstrap-validation */
.invalid-feedback {
  display: inline;
}

/* other generic styles */

.jh-card {
  /* padding: 1.5%; */
  border: none;
}

.error {
  color: white;
  background-color: rgb(255, 0, 64);
}

.pad {
  /*padding: 10px;*/
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.preserve-space {
  white-space: pre-wrap;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
  text-overflow: ellipsis;
}
.alert pre {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.alert .popover pre {
  font-size: 10px;
}

.alerts .toast {
  position: fixed;
  width: 100%;
}

.alerts .toast.left {
  left: 5px;
}

.alerts .toast.right {
  right: 5px;
}

.alerts .toast.top {
  top: 55px;
}

.alerts .toast.bottom {
  bottom: 55px;
}

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%;
  }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
  width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > dt {
    margin-bottom: 15px;
  }

  .row.jh-entity-details > dd {
    border-bottom: 1px solid #eee;
    padding-left: 180px;
    margin-left: 0;
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
  cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
  border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
  outline: none;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

/* === My Style == */

.logo_header {
  position: absolute;
  /*background: url('../static/images/cabecarioBalanceBoard.png') no-repeat center top;*/
  /*background: url('../static/images/headerV1.png') no-repeat center top;*/
  background-color: #4cb3b3;
  background-size: contain;
  width: 100%;
  text-align: center;
  font-size: 18pt;
  /*min-width: 801px;*/
  color: #000;
}

.btn-primary {
  color: #fff;
  background-color: #21538a;
  border-color: #007bff;
}

.btn-success {
  color: #fff;
  background-color: #4fa493;
  border-color: #4fa493;
}

.btn-success:hover {
  background-color: #43756b;
}

.logo_header_background {
  position: absolute;
  /*background-image: linear-gradient(to right, rgb(104, 77, 41), rgb(44, 41, 39), rgb(25, 25, 29));*/
  background-color: #000;
  margin-top: -60px;
  height: 22vh;
  width: 100%;
  border-bottom: 4px;
  border-color: rgb(36, 115, 115);
  border-bottom-style: solid;
  min-height: 140px;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .logo_header_background {
    height: 19vh;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

#routerControlCSS {
  margin-top: 16vh;
}
