.smallCaps {
  font-variant: small-caps;
  font-weight: 900;
}

.buttonList {
  right: 5pt;
  position: absolute;
  top: 5px;
  font-weight: 900;
  color: #ffffff;
  background-color: #000000;
  border-color: #4a745361;
}

.buttonList:hover {
  background-color: #6a7a86;
}

.showDiv {
}

.noneDiv {
  display: none;
}

.list-group-item {
  background-color: #141414;
  border-top: 0px solid rgba(0, 0, 0, 0.125);
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
  border-left: 0px;
  border-right: 0px;
  font-size: 19px;
  color: #ffffff;
}

.list-group-item-titulo {
  background-color: #141414;
  border-top: 1px solid rgb(39, 109, 158);
  border-bottom: 1px solid rgb(39, 109, 158);
  border-left: 0px;
  border-right: 0px;
  font-size: 19px;
}

.buttonFiltroCompra {
  width: 100%;
}
