.carousel {
  height: auto;
  width: 100%;
  z-index: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 70px;
  height: 70px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 9%;
  opacity: 0.8;
}
