.produto {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 5px;
  margin-bottom: 30px;
  padding: 10px;
  background: #3b4344;
  max-width: 300px;
  width: 292px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-shadow: 1px 3px 15px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 1px 3px 15px -4px rgba(0, 0, 0, 0.21);
}

.produtoDetalhe {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  /*border: 1px solid #8b6b56;*/
  margin: 5px;
  margin-bottom: 30px;
  padding: 10px;
  background: #3b4344;
  width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-height: 600px;
  text-align: center;
}

.produtoImage {
  width: 250px;
  margin: 10px;
}

.produtoImageDetalhe {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: auto;
  margin: 10px;
  min-height: 450px;
  max-height: 550px;
  max-width: 500px;
}

.produtoImageMini {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.produto:hover {
  -webkit-box-shadow: 2px 5px 25px -4px rgba(0, 0, 0, 0.31);
  box-shadow: 2px 5px 25px -4px rgba(0, 0, 0, 0.31);
}

.produtoValor {
  display: inline-block;
  line-height: 40px;
  margin-left: 10px;
  color: rgb(75, 166, 175);
}

.produtoButton {
  float: right;
  margin-right: 12px;
}

.produtoTitulo {
  text-align: center;
  color: #ffffff;
}

.infoMoreOne {
  display: inline-flex;
  margin-left: 30px;
  font-weight: bold;
  color: rgb(13, 139, 23);
}

/* MOVE DIV DA LATERAL PARA O DESTINO 
.show {
  position: absolute;
  left: -30em;
  width: 30em;
  height: 20em;
  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards;
}
@-webkit-keyframes slide-in {
 100% { left: 0 }
}
@keyframes slide-in {
 100% { left: 0 }
}*/

@media only screen and (max-width: 700px) {
  .produtoImageDetalhe {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: auto;
    margin: 0px;
    width: 250px;
  }

  .produtoImageDetalhe {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: auto;
    min-height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .produtoImageDetalhe {
    width: 95%;
  }
}

.tituloDetalheProduto {
  color: #3f8eaf;
}

.tituloValorProduto {
  font-size: 30px;
  color: #2ea587;
  font-weight: 700;
}
