.indiceShopProdutos {
  padding-top: 5px;
  font-size: 18px;
  padding-left: 32px;
  color: #c1c1c1;
}

.indiceShopProdutos a {
  color: #c1c1c1;
  padding-left: 10px;
  font-weight: 500;
}

a:hover {
  color: #4381b3;
}

.indiceShopFiltro {
  text-align: center;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 15px;
  color: #c1c1c1;
}

.colProduto {
  flex-grow: 0;
}

.alertProdutos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
