.textoContainer {
  text-align: justify;
  text-justify: inter-word;
  font-size: 24px;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boldh3 {
  font-weight: 700;
  text-align: center;
}
