@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

.BandeirasContainer {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.RodapeContainer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.formasDePagamento {
  background-color: #f1f1f1;
  border-radius: 5px;
  -moz-outline-radius: 5px;
  color: #010101;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  border: 0;
  width: 100px;
  height: 70px;
  margin-right: 5px;
  margin-top: 5px;
}

.selecionadoBandeira {
  background-color: #f1f1f1;
  border-radius: 5px;
  -moz-outline-radius: 5px;
  color: #010101;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  width: 100px;
  height: 70px;
  margin-right: 5px;
  margin-top: 5px;
  border: 2px solid #3c71c0;
}

.selecionadoBandeira:hover {
  background-color: #e9e9e9;
  color: #010101;
  -webkit-box-shadow: 2px 5px 25px -4px rgba(0, 0, 0, 0.31);
  box-shadow: 2px 5px 25px -4px rgba(0, 0, 0, 0.31);
}

.formasDePagamento:hover {
  background-color: #e9e9e9;
  color: #010101;
  -webkit-box-shadow: 2px 5px 25px -4px rgba(0, 0, 0, 0.31);
  box-shadow: 2px 5px 25px -4px rgba(0, 0, 0, 0.31);
}

.iconBoleto {
  font-size: 50px;
  color: black;
  margin-top: -7px;
}

.iconMoney {
  font-size: 30px;
  color: rgb(24, 87, 8);
  margin-top: -7px;
}

.iconBoletoButton {
  font-size: 30px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.boletoPagamento {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.alingRight {
  text-align: right;
}

.alingLeft {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-align: left;
}

.margimRow {
  margin-left: 20px;
  margin-right: 20px;
}

.iconCard {
  margin-top: -53px;
  align-items: right;
  margin-bottom: 15px;
  position: absolute;
  background-color: rgb(177, 177, 177);
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  right: 15px;
  height: 37px;
}

.icardErro {
  margin-top: -76px;
  align-items: right;
  margin-bottom: 15px;
  position: absolute;
  background-color: rgb(177, 177, 177);
  width: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px;
  right: 16px;
  height: 36px;
}

.dadosTitulo {
  font-size: 1.4em;
  margin-bottom: -15px;
  margin-top: 20px;
}

.fontButtonEditDados {
  font-size: 14px;
}

.dadosTotalTransacao {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 5px;
}

.dadosCompra {
  background-color: #404040;
  border-radius: 10px;
  -moz-outline-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.transacaoDiv {
  margin: 5px;
}
