.formContainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.formClientePaddin {
  padding: 5px;
}

.fontButton18 {
  font-size: 17px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
