.logos {
  margin-left: 70%;
  position: absolute;
  margin-top: -64px;
  max-width: 50px;
  z-index: 2;
}

.logosLedft {
  position: absolute;
  margin-top: -62px;
  z-index: 3;
}

.logos img {
  padding: 4px;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.logoBalanceHead {
  /*width: 10vw;*/
  height: 23vh;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 575px) {
  .logoBalanceHead {
  }
  .logos {
    margin-top: -35px;
  }
  .logosLedft {
    margin-left: 40%;
    margin-top: -7px;
  }
}

@media only screen and (max-width: 990px) {
  .logoBalanceHead {
    height: 19vw;
  }
}

@media screen and (min-width: 601px) {
  .logos {
    margin-left: 70%;
  }
}
@media screen and (max-width: 600px) {
  .logos {
    margin-left: 80%;
  }
}

@media screen and (min-width: 651px) {
  .logos img {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 650px) {
  .logos img {
    width: 30px;
    height: 30px;
  }
}
