@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

.orcamentoBody {
  text-align: center;
  max-width: 1000px;
  background-color: #ded3db;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10vh;
  padding-top: 10vh;
  margin-bottom: -30px;
  min-height: 600px;
}

.icon {
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
  color: #00adf0;
}

.iconPlus {
  color: #00adf0;
  font-size: 28px;
  margin-top: 6px;
}

.checkboxItem {
  width: 30px;
  height: 30px;
  position: initial;
  margin-left: 0;
}

.corVerde {
  color: #78c171;
}

.corRozinha {
  color: #ded3db;
}

.areaLabel {
  text-align: right;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

@media screen and (min-width: 601px) {
  .font24 {
    font-size: 24px;
  }

  .orcamentoForm {
    margin-left: 28%;
    margin-right: auto;
  }
  .orcamentoButton {
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .font24 {
    font-size: 16px;
  }

  .orcamentoForm {
    margin-left: 10px;
    margin-right: auto;
  }
  .orcamentoButton {
    margin-left: 0;
  }
}

.font26 {
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.center {
  text-align: center;
}

.font24 {
  text-align: left;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.font10 {
  font-size: 10px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

h2 {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.formAv {
  padding: 0;
}

.left {
  text-align: left;
}

.area {
  width: 90%;
}
.iconBoleto {
  font-size: 50px;
  color: black;
  margin-top: -7px;
}

.buttonBoleto {
  width: 197px;
  height: 71px;
  background-color: #a38497;
  border: 0;
  color: black;
  border-radius: 10px;
}

.buttonBoleto:hover {
  background-color: #bda5b4;
  color: black;
}
