.containerSucessoCompra {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.textoSucesso {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: unset;
}

.alingCenter {
  text-align: center;
}

.alingLeft {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 15px;
}

.tituloSucesso {
  font-size: 22px;
}

.tituloSucessoRodape {
  font-size: 17px;
}

.tituloSucessoRodape {
  font-size: 20px;
}
