@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo-jhipster-react.svg') no-repeat center top;
  background-size: contain;
}

.styleHomeTop {
  margin-top: -5vh;
}

.colCenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  color: #fff;
}

.colCenter img {
  width: 100%;
  padding: 5px;
}
.rowImg {
  height: 100%;
  overflow: auto;
  width: 100%;
  display: inline-flex;
}

.background {
  background-color: #c6b6c0;
  padding: 30px;
}

h6 {
  font-size: 1em;
  font-weight: 100;
}

h5 {
  font-size: 1.5em;
  font-weight: 100;
}

p {
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  text-shadow: rgb(117, 117, 117) 0em 0.1em 0.1em;
  font-variant: small-caps;
  color: #000000;
}

.maxImg {
  max-height: 200px;
  width: auto;
  text-align: left;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* -----------Parallax------------------ */
/* Create a Parallax Effect */
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1 {
    background-attachment: scroll;
  }
}

h2 {
  font-size: 3em;
}

.w3-third {
  background-color: aqua;
  width: 100%;
  /*padding: 0 8px*/
}

@media (min-width: 601px) {
  .w3-col.m1 {
    width: 8.33333%;
  }
  .w3-col.m2 {
    width: 16.66666%;
  }
  .w3-col.m3,
  .w3-quarter {
    width: 24.99999%;
  }
  .w3-col.m4,
  .w3-third {
    width: 33.33333%;
  }
}

.colPortfolio {
  padding: 0;
}

.imgModal {
  max-width: 50%;
  opacity: 0.4;
  border-radius: 40px;
}

.textTitle {
  margin-top: -50px;
  font-size: 2.5em;
  text-shadow: 0 -1px 4px rgb(229, 242, 243), 0 -2px 10px rgb(235, 208, 56), 0 -10px 20px #d4781b, 0 -18px 40px rgb(165, 74, 21);
  color: rgb(0, 0, 0);
}

.modal-dialog {
  max-width: 837px;
}

.ModalHeader {
  text-align: center;
}

.ModalBody {
  font-size: 2em;
}
