p {
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  text-shadow: rgb(117, 117, 117) 0em 0.1em 0.1em;
  font-variant: small-caps;
  color: #000000;
}

.maxImg {
  max-height: 200px;
  width: auto;
  text-align: left;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

h2 {
  font-size: 3em;
}

.colPortfolio {
  padding: 0;
}

.imgModal {
  max-width: 50%;
  opacity: 0.4;
  border-radius: 40px;
  max-height: 600px;
}

.imagemBack {
  /*background-image: url('../../../../../../../../../../../Imagens/java/riogrande.png');*/
  /*background-image: url('../../../../static/images/_recicle.png');*/
  width: 100px;
  height: 200px;
}

.textTitle {
  margin-top: -50px;
  font-size: 2.5em;
  text-shadow: 0 -1px 4px rgb(229, 242, 243), 0 -2px 10px rgb(235, 208, 56), 0 -10px 20px #d4781b, 0 -18px 40px rgb(165, 74, 21);
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 800px) {
  .textTitle {
    font-size: 1.5em;
  }
}

.modal-dialog {
  max-width: 837px;
}

.ModalHeader button span {
  text-align: center;
  font-size: 2em;
}

.ModalBody {
  font-size: 2em;
  text-align: justify;
}

.playerYoutube {
  min-height: 300px;
}

.BotaoVoltar,
.close {
  height: 70px;
  width: 110px;
  font-size: 2em;
  background-color: #725c4a;
}
