.carrinhoCompras {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 2px 5px 25px -4px rgba(255, 255, 255, 0.31);
  box-shadow: 2px 5px 25px -4px rgba(255, 255, 255, 0.31);
  border: 1px solid #4fa493;
  padding: 10px;
  background: #232323;
  max-width: 300px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  width: 250px;
  min-height: 50px;
  position: fixed;
  bottom: 1vh;
  z-index: 100;
  right: 0pt;
  margin: 5px;
  font-size: 20px;
}

.carrinhoComprasSmall {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
  /* border: 1px solid rgb(112, 112, 112); */
  background: #4fa493;
  max-width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 250px;
  min-height: 50px;
  position: fixed;
  bottom: 1vh;
  z-index: 100;
  right: 0pt;
  margin: 5px;
  width: 60px;
  height: 60px;
}

.pcarrinho {
  text-align: center;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  width: 100%;
  height: 58px;
  color: #000;
}

.cart__body {
  margin-bottom: 0.7em;
}

.cart-item {
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__name {
  margin-left: 0.5em;
  vertical-align: middle;
}

.cart-item__price {
  font-weight: bold;
}

.cart__total {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.1em;
  text-align: right;
}

.buttonSmall {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.showDiv {
}

.noneDiv {
  display: none;
}

.notificationItens {
  position: absolute;
  margin-top: -12px;
  margin-left: 33px;
  background-color: #b63434;
  float: right;
  color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 20px;
  width: 20px;
  padding-left: 6px;
  font-size: 14px;
}

.carrinhoIndex {
  z-index: -1;
}

.eshop {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
