.containerCompras {
  background-color: #404040;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  -moz-outline-radius: 5px;
}

.tabelaCompras {
  margin-left: auto;
  margin-right: auto;
}

.imgListCompra {
  width: 100px;
  border-radius: 10px;
  -moz-outline-radius: 10px;
  margin-right: 15px;
}

.fontButton18:hover {
  font-weight: 500;
}

.fontButton18 {
  margin-bottom: 15px;
}

.font14 {
  margin-top: 15px;
  font-size: 14px;
}

.font16 {
  font-size: 16px;
  font-weight: 700;
}

.unidades {
  font-size: 14px;
  margin-top: 5px;
}

.rowProd {
  margin: 15px;
  padding: 5px;
}

.rowProd:hover {
  background-color: rgb(67, 85, 88);
  border-radius: 5px;
  -moz-outline-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .showRemove {
    display: none;
  }

  .rowProd {
    margin-bottom: 25px;
    border-bottom: 1px solid;
    border-color: #bbaa7b;
  }

  .containerCompras {
    background-color: #404040;
    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    -moz-outline-radius: 5px;
  }
}
