/* ==========================================================================
Developement Ribbon
========================================================================== */
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link.active {
  color: rgb(53, 155, 160);
}

.navbar-light .navbar-toggler-icon {
  background-color: #fff;
  border-radius: 5px;
}

.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
}
.ribbon a {
  color: #fff;
  display: block;
  font-weight: 400;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
  pointer-events: none;
}
/* ==========================================================================
Navbar styles
========================================================================== */
.jh-navbar {
  background-color: #000;
  padding: 0.2em 1em;
  margin-top: -2vh;
  z-index: 2;
  position: absolute;
  width: 100%;
  font-size: 29px;
}

@media only screen and (max-width: 900px) {
  .jh-navbar {
    font-size: 15px;
    margin-top: 1vh;
  }
}

.jh-navbar-scrolly {
  margin-top: 0vh;
}

.jh-navbar .profile-image {
  /*margin: -10px 0px;*/
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.jh-navbar .dropdown-item.active,
.jh-navbar .dropdown-item.active:focus,
.jh-navbar .dropdown-item.active:hover {
  background-color: #c6b6c0;
}

.jh-navbar .dropdown-toggle::after {
  margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
  padding: 0.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
}

.navbar-nav:hover .nav-link:hover {
  color: rgb(81, 188, 194);
}

.jh-navbar ul.navbar-nav .nav-item {
  margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
  font-weight: 400;
}

.jh-navbar a.nav-link > span {
  margin-left: 5px;
}

.jh-navbar .jh-navbar-toggler {
  color: #ffffff;
  font-size: 1.5em;
  padding: 10px;
}
.jh-navbar .jh-navbar-toggler:hover {
  color: rgb(255, 255, 255);
}
.navbar-version {
  font-size: 10px;
  color: #ffffff;
  padding: 0 0 0 10px;
}
.brand-logo:hover {
  text-decoration: none;
}
.brand-logo .brand-icon {
  height: 35px;
  width: auto;
  display: inline-block;
  color: #be1414;
  font-size: 15px;
}
.brand-logo .brand-icon img {
  height: 40px;
  visibility: hidden;
}
.brand-title {
  font-size: 24px;
  color: rgb(255, 255, 255);
}
.brand-title:hover {
  color: #ffffff;
  text-decoration: none;
}
.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}
